PUBLIC_BASE_URL=https://schoolmis.xanderglobalacademy.com/
XANDER_SCHOOL_DOMAIN=schoolmis.xanderglobalacademy.com

MYSQL_ROOT_PASSWORD=change_me_root
DB_DATABASE=iotxa_db
DB_USERNAME=xander_school
DB_PASSWORD=change_me_app
XANDER_SCHOOL_HTTP_PORT=8091
